.main{
    width:50%;
    margin-left: 20px;
}
p{
    margin-top: 35px !important;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.button{
    display:flex;

}
.buttons{
    display:flex;

}
table,th,td{
    border: 1px solid rgb(66, 64, 64) !important;
    border-collapse: collapse !important;
}