.card{
margin:0 auto;
width: 30% !important;
background-image: linear-gradient(163deg, #00ff0d6e 0%, #ff730081 100%);

}
.w-50{
    width: 40% important;
}
span{
    font-weight: 600;
    
}
.text-primary{
    display: flex;
    text-align: center;
    justify-content: center;
}